<!DOCTYPE html>
<html>
<head>
  <title>WeatherOrNot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '51b53c41108d7b61b700002c');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</head>
<body>

<div class="container">
	<div class="row">
		<div class="span6 offset4">
<h1 class="text-center">Weather or Not</h1>
<%= yield %>
</div>
</div>
</div>
  <%= javascript_include_tag "application" %>

</body>
</html>
